* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f3f1ff;
}
ul {
  background-color: #562eff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li {
  list-style-type: none;
  display: inline;
  padding: 0px 20px;
}
li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.nav-center {
  display: flex;
  align-items: center;
}
.main-section {
  background-color: white;
  margin: 0px 200px;
  padding: 30px;
  border-radius: 15px;
}
.top-player h1 {
  color: #562eff;
}
.box-player {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.players img {
  width: 56px;
  height: 56px;
  padding-right: 20px;
}
.players {
  display: flex;
  align-items: center;
}
hr {
  margin-top: 30px;
}
.top-blog h1 {
  color: #562eff;
  padding-top: 20px;
}
.box-blog {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.col-blog {
  display: flex;
  align-items: center;
}
.col-blog img {
  width: 167px;
  height: 117px;
  padding-right: 20px;
}
.blog-info h4 {
  color: #9f9f9f;
}
.blog-info span {
  color: #562eff;
}
#latest-course {
  background-color: white;
  margin: 0px 200px;
  margin-top: 20px;
  border-radius: 15px;
  padding: 30px;
  padding-top: 50px;
}
.top-course h1 {
  color: #562eff;
}
.box-course {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 20px;
}
.col-course img {
  width: 224px;
  height: 104;
}
.duration-icon-info {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.start-icons span {
  color: orange;
}
.duration {
  background-color: #ffe4e8;
  padding: 8px 15px;
  border-radius: 20px;
  color: #ff4a60;
}
/* Extra small devices (phones, 600px and down) */
/* 1px to 600px */
@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }
  .main-section {
    margin: 0px 90px;
    padding: 20px;
  }
  .box-player {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .players {
    display: block;
  }
  .box-blog {
    grid-template-columns: repeat(1, 1fr);
  }
  .col-blog img {
    width: 120px;
    height: 80px;
  }
  .col-blog h3 {
    font-size: 16px;
  }
  .col-blog h4 {
    font-size: 14px;
  }
  #latest-course {
    margin: 0px 90px;
    margin-top: 10px;
    padding: 20px;
    padding-top: 20px;
  }
  .top-course h1 {
    font-size: 20px;
  }
  .box-course {
    grid-template-columns: repeat(1, 1fr);
  }
  .col-course img {
    width: 147px;
    height: 90px;
  }
  .col-course h3 {
    font-size: 18px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* 601px to 768px */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  ul {
    background-color: #ff4a60;
  }
  .main-section {
    margin: 0px 100px;
    padding: 20px;
  }
  .box-player {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  .players {
    display: block;
  }
  .box-blog {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-blog img {
    width: 120px;
    height: 80px;
  }
  .col-blog h3 {
    font-size: 16px;
  }
  .col-blog h4 {
    font-size: 14px;
  }
  #latest-course {
    margin: 0px 100px;
    margin-top: 10px;
    padding: 20px;
    padding-top: 20px;
  }
  .box-course {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-course img {
    width: 150px;
    height: 97px;
  }
}

